.card_layout {
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .card_layout > * {
    flex-basis: calc(25% - 20px);
    margin: 0 10px 20px;
  }

.text{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
    margin-left: 60px;
    margin-bottom: -30px;
}

.img_layout{
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}